/* ==========================================================================
   Button
   ========================================================================== */

%btn {
    height: auto;
    padding: 10px;
    cursor: pointer;

    background: $btn-background;
    border: 1px solid $btn-border-color;
    border-radius: 3px;

    color: $btn-color;

    transition: color .15s ease, background .15s ease;
    &:hover {
        box-shadow: none;
        background: $btn-hover-background;
        border-color: $btn-hover-border-color;
        color: $btn-hover-color;
    }
}
