/* ==========================================================================
   Typography
   ========================================================================== */

$main-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-weight-normal:    300;
$font-weight-bold:      500;
