/* ==========================================================================
   Calendar
   ========================================================================== */

th.kalender_kw, th.kalender_wt, th.kalender_we, td.kalender_kw, td.kalender_wt, td.kalender_we {
    position: relative;

    background: $white;

    font {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -4px;
        color: $grey;
    }

    a {
        display: block;
        text-decoration: none;
    }

    span[style*="background-color:#eeeeee;"] {
        display: block;
        width: 20px;
        height: 20px;
        margin: -2px auto;

        border-radius: 50%;
        background: $accent-color-2;
        font-size: 12px;
        line-height: 20px;
        color: $white;
    }
}

th.kalender_kw, th.kalender_wt, th.kalender_we, td.kalender_kw, td.kalender_we {
    color: $grey;
}

td.kalender_wt {
    color: $black;
}
