/* ==========================================================================
   General
   ========================================================================== */

#mainFrame frame[name="main"] {
    border-right: 1px solid $accent-color-1;
}

table {
    border: none;
}

div.leftframe, div.rightframe, div.centerframe, div.centerframe_large {
    background: $white;
}
