/* ==========================================================================
   Header
   ========================================================================== */

div.leftframe, div.rightframe, div.centerframe, div.centerframe_large {
    background: $white;
}

div.tabBarTab_a, div.tabBarTab_sub_a {
    border-bottom-color: $white;
}

div.tabbartab_a, div.tabbartab_c, div.tabbartab_d:hover, div.tabbartab_d {
    background: $white;
    text-decoration: none;
}

frame[name="navigation"] {
    border-bottom: 1px solid $accent-color-1;
}

input.qoogle_input {
    width: 100%;
    padding: 5px 10px;

    background: $white;
    border: 1px solid $grey;
    border-radius: 3px;
    color: $black;
}

input.qoogle_input:focus {
    border: 1px solid $accent-color-1;
    outline: none;
}
