/* ==========================================================================
   Top Navigation
   ========================================================================== */

.grouping_c_ng {
    background: none;
}

.navLinkSeperator, td.topnav_icon img, .navQuoGel_zoom {
    display: none;
}

.navigation_content {
    background: url(#{$logo-url}) 15px 15px no-repeat;
    background-size: 40px;
}

.table_header_row {
    background: none;
    border-bottom: 1px solid $accent-color-1;
    border-top: 1px solid $accent-color-1;
}

.topnav_separator {
    color: $white;
    padding: 0 5px;
}

a.navLinkAktiv {
    &:link, &:visited, &:active, &:hover {
        color: $accent-color-1;
        font-size: 16px;
        text-decoration: none;
    }
}

a.navlink {
    &:link, &:visited, &:active {
        color: $black;
        font-size: 16px;
        text-decoration: none;
    }
    &:hover {
        color: $accent-color-1;
    }
}

body#navigation {
    background: $white;
}

td.bereichTitel, td.content td.bereichTitel, div.bereichTitel, td.content div.bereichTitel, .bereichTitel, td.content .bereichTitel, .popupdiv .bereichTitel {
    color: #79bd9a;
    font-size: 14px;
    font-weight: 500;
}

td.navLinkAktiv {
    background: none;
}

td.selektion, td.content, td.content *, td.selektion input, td.selektion select, td.selektion textarea, td.content input, td.content select, td.content textarea, input.login_input {
    color: #333;
    font-size: 12px;
}

td.topnav_icon table {
    height: auto;
}

td.topnav_icon, td.topnav_content, td.topnav_content_green, td.topnav_icon, td.topnav_content_green, td.topnav_content, div.content, table.login_form {
    color: $black;
    font-size: 12px;
    line-height: 14px;
}

a.topnav_content {
    &, &:link, &:active, &:visited {
        color: $black;
        font-size: 12px;
        line-height: 14px;
    }
    &:hover {
        color: $accent-color-1;
    }
}
