@charset "UTF-8";

/* ==========================================================================
   Quotify - Default theme

   Beautify QuoJob
   ========================================================================== */


/* Colors - Default
   ========================================================================== */
$black:         #333;
$white:         #fff;
$grey:          #ccc;


/* Colors - Accents
   ========================================================================== */
$accent-color-1:    #9d9fd0;
$accent-color-2:    #79bd9a;


/* Colors - Components
   ========================================================================== */
// Button
$btn-color:               $accent-color-1;
$btn-border-color:        $accent-color-1;
$btn-background:          $white;

$btn-hover-color:         $white;
$btn-hover-border-color:  $accent-color-1;
$btn-hover-background:    $accent-color-1;


/* Typography
   ========================================================================== */
$main-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-weight-normal:    300;
$font-weight-bold:      500;


/* Logo
   ========================================================================== */
$logo-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHIAAACJCAMAAADHVpyVAAAADFBMVEX///+dn9C3uNbV1uvRiirTAAACMklEQVR42u2by47cMAwEpe7//+cEyCUHZgsTqTwL7PA4NlnuJi34MV6vRZvsvyI77dKizR5DwjYbIhV5PnTgudQMRBXa/Xqk94FJ/0SSeYejoWEFTW5BAzw4uF4gpmQJMy9XSI7MzX/1Bg5TyS3kKUcLmUzkueHkgySBCSkCE/ooMZlozG2H89FlFhY5wdp9butcKHeWucMGzcR98XqpwrSCzC3ZytV4dlyZcPkiyAyJPJdZErnPiGxbL/jKvgm+gooNIrtOY38pI9d8haJwQIKzjkgQYiG5bMHXI+RcNwISpOzrSw8UnrZERhaQQjOnDRoybitX/1G6zyL7HuRsuDay+RnI+Wf1IedPQfZpZH8wcn2QH+QH+VkKLiL3XPxp5PouyMjIeMi+AznX7rdAbvW0/B1PI+cNFQf2cWTcu+hOvr4HOTsr3rdDMzVkB6Tlq/YMD2ZEaCb0y3N2j0LAWc3XebPiq/wGYRSpOsvzcd1ZFtHbzo4iBZkgUpBJ88g7CSLFl3vwDg1kCrYK74ahkjFBAeKRtedlcmAtmWVaCzUOmOAUOAV9EIjArECkpJ4STZ15PfPsHqUTUWV26sj5pb23jDQE5YTeuM1PCq6wqczkUk3OgMzcO97/1rMxzoHcIv8bhBzxfGZS7+sV5vlCCzxBKBCV0R2SbHcjMItMH8pMf466nod2WdAA06ECU4Uy06dmudAA8ymt6fKpzPSxwFQ6m/VYNB6Tv2K+VO4V7hf9/AVS3RbuS4LR8QAAAABJRU5ErkJggg==";


/* Placeholders
   ========================================================================== */
@import "../placeholders/placeholders";


/* Components
   ========================================================================== */
@import "../components/components";
